* {
  background-color: #fff;
}

.productDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.productDescription > h4 {
  align-self: flex-start;
  text-transform: uppercase;
  font: 500 1rem 'Kumbh Sans', sans-serif;
  color: #f97d1c;
}

.productDescription > h2 {
  align-self: flex-start;
  text-transform: capitalize;
  font: 700 2rem 'Kumbh Sans', sans-serif;
  text-align: left;
}

.productDescription > p {
  align-self: flex-start;
  font: 400 1rem 'Kumbh Sans', sans-serif;
  text-align: left;
  color: #717982;
}

.productDescription > .productPrice {
  display: flex;
  align-self: flex-start;
  text-align: left;
}

.productDescription > .productPrice > span {
  font: 700 1.5rem 'Kumbh Sans', sans-serif;
  color: #f97d1c;
}