@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap');

.cartModal {
  width: 95%;
  position: absolute;
  margin: 10px auto;
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px 15px;
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.dFlex {
  display: flex;
  gap: 5px;
  grid-column: 1/4;
}

.dFlexPrice {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.division {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.divisionTwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.cartImage {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.cartHeadingTwo {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 0.96em;
}

.cartHeadingThree {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  color: #717982;
  font-size: 0.96em;
  padding: 60px 0;
}

.cartPrice {
  align-self: flex-start;
}

.cartHeading {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: left;
}

.cartSubmit {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #f97d1c;
  color: #fff;
  font: 700 1rem 'Kumbh Sans', sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.cartDelete {
  padding-top: 0.7em;
}

.horiLine {
  height: 1px;
  background-color: #e7e7e7de;
  border: none;
}
