.card > .cardBody > .cardImage {
  max-width: 100%;
  max-height: 80%;
  position: relative;
}

.cardImage img {
  width: 100%;
  max-height: 290px;
  object-fit: cover;
  object-position: top;
}

.cardIconNext {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 20px;
}

.cardIconPrevious {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 15px;
  background-color: #fff;
}
