* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

@media screen and (min-width: 700px) {
  .App {
    margin: 0 20px;
  }

  .appMain {
    height: inherit;
    display: flex;
    align-items: flex-start;
  }
}